version: 2
updates:
- package-ecosystem: github-actions
  directory: /.github/workflows
  schedule:
    interval: yearly
  cooldown:
    default-days: 7
  groups:
    gha-patches:
      update-types:
      - patch

- package-ecosystem: uv
  directory: /
  schedule:
    interval: yearly
  cooldown:
    default-days: 7
  groups:
    uv.lock-patches:
      update-types:
      - patch
