name: CI (bleeding edge)

on:
  push:
    branches:
    - main
  schedule:
    # run this every wednesday at 3 am UTC
  - cron: 0 3 * * 3
  pull_request:
    paths:
    - .github/workflows/bleeding_edge.yml
  workflow_dispatch:

jobs:
  build:
    name: bleeding edge
    runs-on: ubuntu-latest
    timeout-minutes: 20

    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Setup uv
      uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      with:
        python-version: '3.15'
    - run: uv lock --upgrade --prerelease=allow
    - name: Run tests
      run: uv run --frozen --no-editable --group test pytest --color=yes
